@import "tailwindcss";

@theme {
  --color-primary: #0066b3;
  --color-primary-dark: #004aad;

  --color-accent: #ff8c40;
  --color-accent-dark: #ff6600;

  --color-success: oklch(52.7% 0.154 150.069);
  --color-success-dark: #28a745;

  --color-error: oklch(57.7% 0.245 27.325);
  --color-error-dark: oklch(63.7% 0.237 25.331);

  --color-warning: #ffe18a;
  --color-warning-dark: #ffc107;

  --color-info: #6fd1dc;
  --color-info-dark: #17a2b8;

  --color-white: #ffffff;
  --color-black: #000000;

  --font-public-sans: var(--font-public-sans), sans-serif;
}
